<p>
  blocks works!
</p>

<div class = "container">

        <h1>block Form</h1>
        <select [(ngModel)]="newdata.district_id">
                <option *ngFor="let district of districts" [ngValue]="district.id" >{{district.district_name}}</option>
            </select>
        <form>
           
           <div class = "form-group">
              <label for = "block_name">block_name</label>
              <input type = "string" class = "form-control" id = "block_name"
                 [(ngModel)] = "newdata.block_name" name = "block_name">
                 {{newdata.bl}}
           </div>
        </form>
        <button class='btn btn-primary' (click) = "adddata()">add</button>
     </div>